# Python cache
__pycache__/
*.pyc

# Node modules
node_modules/

# ESLint cache
.eslintcache

# Build cache
.cache/

# Python virtual environment
venv/


# Node cache
frontend/node_modules/
frontend/.cache/
